.about
  display flex
  flex-direction column
  align-items center
  padding-top 30px
  padding-right 20px
  padding-left 20px

  &__title,
  &__text
    margin-top 0
    margin-bottom 24px

@media (min-width: tablet-width)
  .about
    padding-right 30px
    padding-left 30px

@media (min-width: desktop-width)
  .about
    padding-top 80px
    padding-right 0
    padding-bottom 81px
    padding-left 0

    &__title,
    &__text
      width 773px
