.about
  display flex
  padding-top 80px
  padding-bottom 105px
  flex-direction column
  align-items center

  &__title
    width 773px
    margin-top 0
    margin-bottom 24px

  &__text
    width 773px
    margin 0

    &--mb
      margin-bottom 24px
