include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/text/text
include ../blocks/title/title
include ../blocks/btn/btn
include ../blocks/front/front
include ../blocks/features/features
include ../blocks/about/about
include ../blocks/advantages/advantages
include ../blocks/feedback/feedback
