.input
  padding-bottom 13px

  font-family "Roboto", "Arial", sans-serif
  font-style normal
  font-weight 400
  font-size 22px
  line-height 35px
  letter-spacing -0.01em
  color #FFFFFF

  background-color transparent
  border none
  border-bottom 2px solid rgba(#F7F8FA, 0.1)

  &--textarea
    resize none
    overflow-y auto

  &--error
    background-color rgb(255, 0, 0);

  &::placeholder
    color rgba(#FFFFFF, 0.3)
