.title
  font-family "DINPro", "Arial", sans-serif
  font-style normal
  font-weight 400
  font-size 34px
  line-height @font-size * 1.25
  text-align center
  letter-spacing -0.02em
  color #222222

  &--small
    font-size 28px

  &--theme-black
    color #000000

  &--theme-white
    color #ffffff
