.title
  font-family "DINPro", "Arial", sans-serif
  font-style normal
  font-weight 400
  font-size 48px
  line-height 60px
  letter-spacing -0.02em
  color #222222

  &--small
    font-size 40px
    line-height 50px

  &--theme-black
    color #000000

  &--theme-white
    color #ffffff
