.title
  font-family "DINPro", "Arial", sans-serif
  font-style normal
  font-weight 400
  set-font-title(34px)
  text-align center
  letter-spacing -0.02em
  color #222222

  &--small
    set-font-title(28px)

  &--theme-black
    color #000000

  &--theme-white
    color #ffffff

@media (min-width: tablet-width)
  .title
    set-font-title(40px)

    &--small
      set-font-title(36px)

@media (min-width: desktop-width)
  .title
    set-font-title(48px)
    text-align left

    &--small
      set-font-title(40px)
