//   global

@import "normalize.css"
@import "global/fonts"
@import "global/variables"
@import "global/mixins"
@import "global/global"
@import "global/helpers"

//   plugins

@import "plugins/plugins-rewrite"

//   blocks

@import "../blocks/header/header"
@import "../blocks/footer/footer"
@import "../blocks/text/text"
@import "../blocks/title/title"
@import "../blocks/btn/btn"
@import "../blocks/front/front"
@import "../blocks/features/features"
@import "../blocks/about/about"
@import "../blocks/advantages/advantages"
@import "../blocks/feedback/feedback"
