//   global

@import "normalize.css"
@import "global/fonts"
@import "global/variables"
@import "global/mixins"
@import "global/global"
@import "global/helpers"

//   plugins

@import "plugins/plugins-rewrite"

//   blocks

@import "../blocks/header/header"
@import "../blocks/footer/footer"
@import "../blocks/text/text"
