mixin front()
  section.front&attributes(attributes)
    p.title.front__tagline Ты готов стать профессионалом?
    p.front__text
      |  Мы ищем
      span  талантов
      |  и
      span  саппортов
      |  в команду. Решите на какую категорию вы претендуете.
    a.btn(href="#") Заполнить анкету
