.advantages
  display flex
  flex-direction column
  padding-top 30px
  padding-right 20px
  padding-left 20px

  background-color #F7F5FA

  &__title
    margin-top 0
    margin-bottom 30px

  &__list
    display flex
    flex-direction column
    margin 0
    padding 0

    list-style none

  &__item
    margin-bottom 30px

  &__item-title
    position relative

    margin 0 auto
    margin-bottom 30px
    padding-left 70px

    font-family "DINPro", "Arial", sans-serif
    font-style normal
    font-weight 700
    font-size 20px
    line-height 25px
    color #000000

    &::before
      content ""
      position absolute
      top 50%
      left 0

      width 54px
      height 54px

      background-image url("../img/wallet.svg")
      transform translateY(-50%)

  &__text
    margin 0
