.advantages
  display flex
  flex-direction column
  padding-top 30px
  padding-right 20px
  padding-left 20px

  background-color #F7F5FA

  &__title
    margin-top 0
    margin-bottom 30px

  &__list
    display flex
    flex-direction column
    margin 0
    padding 0

    list-style none

  &__item
    margin-bottom 30px

  &__item-title
    position relative

    margin 0 auto
    margin-bottom 30px
    padding-left 70px

    font-family "DINPro", "Arial", sans-serif
    font-style normal
    font-weight 700
    font-size 20px
    line-height 25px
    color #000000

    &::before
      content ""
      position absolute
      top 50%
      left 0

      width 54px
      height 54px

      background-image url("../img/wallet.svg")
      transform translate(0, -50%)

    br
      display none

  &__text
    margin 0

@media (min-width: tablet-width)
  .advantages
    padding-right 30px
    padding-bottom 40px
    padding-left 30px

    &__title
      margin-bottom 60px

    &__list
      flex-direction row
      justify-content space-between

    &__item
      width 30%
      margin-bottom 0

    &__item-title
      width 150px
      margin-bottom 20px
      padding-top 85px
      padding-left 0

      text-align center

      &::before
        top 0
        left 50%

        transform translate(-50%)

      br
        display inline
