mixin advantages()
  section.advantages&attributes(attributes)
    h2.advantages__title.title.title--small.title--theme-black Приемущества работы с нами
    ul.advantages__list
      li.advantages__item
        h3.advantages__item-title Делимся оптом и навыками
        p.advantages__text.text
          |  Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и
          |  проверен временем, а команда постоянно совершенствует свои знания и навыки.
      li.advantages__item
        h3.advantages__item-title Стабильная зарплата
        p.advantages__text.text
          |  Вы без задержек получаете официальную зарплату. Также мы оплачиваем
          |  больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
      li.advantages__item
        h3.advantages__item-title Гибкий график
        p.advantages__text.advantages__text--width-big.text
          |  Мы умеем работать с теми, кто еще не закончил получать образование.
          |  Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.
