.features
  background-color #F7F5FA

  &__list
    margin 0 auto
    padding 0

    list-style none

  &__item
    padding-top 30px
    padding-right 20px
    padding-bottom 15px
    padding-left 20px

    border-bottom 1px solid #EDEDED

  &__title
    margin-top 0
    margin-bottom 12px

    font-family "DINPro", "Arial", sans-serif
    font-style normal
    font-weight 400
    font-size 16px
    line-height 19px
    letter-spacing 0.04em
    color #F47821
    text-transform uppercase

  &__text
    margin 0

    font-family "DINPro", "Arial", sans-serif
    font-style normal
    font-weight 400
    font-size 18px
    line-height @font-size * 1.25
    letter-spacing -0.03em
    color #222222

@media (min-width: tablet-width)
  .features
    padding 30px

    &__list
      background-color #FFFFFF

    &__item
      border 1px solid #EDEDED

@media (min-width: desktop-width)
  .features
    padding 0
    padding-bottom 80px

    &__list
      position relative

      display flex
      flex-wrap wrap
      width 67.5%
      margin-top -99px

    &__item
      width 50%
      padding-top 48px
      padding-right 70px
      padding-bottom 61px
      padding-left 60px
